/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 ene. 2021, 17:26:44
    Author     : alquimista
*/

.clasePrueba {
    color:red;
    font-size: 50px;
}


.biselado {
    /*border: 1px solid #1a237e; /* Color del borde, debe ser más oscuro que fondo */
    background: #00f400; /* Fondo */
    border-radius: 5px;  /* Bordes redondos */
    box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
    text-shadow: 1px 1px 1px rgba(255,255,255,0);  /* Sombra del texto */
    text-align: center;  /* Alineación del texto */
}

#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}
